/*
=====================================
 BASE RULES STYLES
=====================================
*/

@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap');
$base_font-family: 'Roboto', sans-serif;
$white_choiz: #FFFFFF;
$gray_choiz: #424B54; 
$purple_choiz: #B700DB;
$light-grey_choiz:#F8F8F8;
$medium-gray_choiz:#D7D7D7;
$dark-grey_choiz: #7C7C7C;
$dark-rose_choiz:#fee4f8;